/* font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* set default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* set variable */
:root {
  --primary-font: 'Poppins', sans-serif;
  --gradient-color: linear-gradient(to top right, rgb(110, 72, 170), rgb(157, 80, 187));
  --body-bg-color: rgb(37, 40, 46);
  --primary-font-color: #ddd;
  --timing: all 0.3s;
  --warning-color: rgb(255, 195, 0);
}

/* input style */
input {
  padding: 0.75em;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--body-bg-color);
  background-color: var(--primary-font-color);
}

/* button style */
button {
  padding: 0.75em 1em;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  background: var(--gradient-color);
}

/* anchor style */
a {
  font-size: 1rem;
  color: var(--primary-font-color);
}

/* heading style */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

/* paragraph style */
p {
  font-size: 1rem;
}

/* body style */
html,
body {
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  background-color: var(--body-bg-color);
}

/* alert */
.alert {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--gradient-color);
  display: none;
}

/* wrapper nabar */
.wrapper-navbar {
  width: 100%;
  height: 65px;
  padding: 0 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background: var(--gradient-color);
}

.wrapper-navbar .logo a h2 {
  color: var(--warning-color);
}

.wrapper-navbar .navlink {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapper-navbar .navlink li:not(.dropdown-list li) {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}

.wrapper-navbar .navlink li a {
  transition: var(--timing);
}

.wrapper-navbar .navlink li a:not(.dropdown-list li a):hover {
  opacity: 0.7;
}

.wrapper-navbar .navlink .dropdown {
  position: relative;
}

.wrapper-navbar .navlink .dropdown a {
  width: max-content;
  display: flex;
  align-items: center;
}

.wrapper-navbar .navlink .dropdown a i {
  margin-left: 1em;
  transition: var(--timing);
}

.wrapper-navbar .navlink .dropdown a:hover i {
  transform: rotate(90deg);
}

.wrapper-navbar .navlink .dropdown-list {
  min-width: max-content;
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 1;
  display: none;
  background: var(--gradient-color);
}

.wrapper-navbar .navlink .dropdown-list li {
  width: 100%;
}

.wrapper-navbar .navlink .dropdown-list li a {
  width: 100%;
  padding: 1em 3em;
  transition: var(--timing);
}

.wrapper-navbar .dropdown-list li a:hover {
  color: var(--warning-color);
}

.wrapper-navbar .navlink .dropdown:hover .dropdown-list {
  display: block;
}

.wrapper-navbar .toggle-menu {
  display: none;
  font-size: 1.25rem;
}

/* jumbotron */
.jumbotron {
  width: 100%;
  height: 500px;
  margin-top: 65px;
  background-image: url('https://images.unsplash.com/photo-1556740714-a8395b3bf30f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.jumbotron .jumbotron-text {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}

.jumbotron .jumbotron-text h1 span {
  color: var(--warning-color);
}

.jumbotron .jumbotron-text button {
  margin-top: 2em;
  transition: var(--timing);
}

.jumbotron .jumbotron-text button:hover {
  padding: 0.75em 2em;
}

/* container */
.container {
  width: 100%;
  padding: 0 5em;
  line-height: 1.65;
}

.container section {
  padding: 3em 0;
}

.container section h1 {
  text-align: center;
  margin: 1em auto;
}

.container section figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container section figure img {
  width: 48%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.container section figure figcaption {
  width: 48%;
}

.container section figure figcaption span {
  color: var(--warning-color);
}

.container section figure figcaption button {
  margin-top: 1em;
  transition: var(--timing);
}

.container section figure figcaption button:hover {
  padding: 0.75em 2em;
}

.container section:nth-child(even) figure img {
  order: 2;
}

.container section:nth-child(even) figure figcaption {
  order: 1;
}

/* footer */
footer {
  width: 100%;
  margin-top: 7em;
  padding: 0 5em;
  line-height: 1.65;
  display: flex;
  justify-content: space-between;
}

footer .credit a h2 {
  color: var(--warning-color);
}

footer .documentation a,
footer .social-media a {
  transition: var(--timing);
}

footer .documentation a:hover,
footer .social-media a:hover {
  opacity: 0.5;
}

footer .credit i,
footer .social-media i {
  width: 20px;
}

/* copyright */
.copyright {
  width: 100%;
  margin-top: 3em;
  padding: 1em 5em;
}

.copyright a {
  transition: var(--timing);
}

.copyright a:hover {
  opacity: 0.5;
}

/* responsive breakpoint */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.17rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }

  /* wrapper nabar */
  .wrapper-navbar {
    padding: 0 1.5em;
  }

  .wrapper-navbar .navlink {
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: -100%;
    z-index: -1;
    opacity: 0;
    background: var(--gradient-color);
    transition: var(--timing);
  }

  .wrapper-navbar .show-navlink {
    left: 0;
    opacity: 1;
  }

  .wrapper-navbar .navlink .dropdown-list {
    left: 0;
    background: linear-gradient(to bottom right, rgb(110, 72, 170), rgb(157, 80, 187));
  }

  .wrapper-navbar .navlink li:not(.dropdown-list li) {
    width: 100%;
    padding: 1.5em;
    display: flex;
    align-items: center;
  }

  .wrapper-navbar .toggle-menu {
    display: block;
    cursor: pointer;
    transition: var(--timing);
  }

  .wrapper-navbar .toggle-menu:hover {
    opacity: 0.7;
  }

  /* jumbotron */
  .jumbotron .jumbotron-text {
    text-align: center;
  }

  .jumbotron .jumbotron-text h1 {
    padding: 0 1.5em;
  }

  /* container */
  .container {
    padding: 0 1.5em;
  }

  .container section figure {
    flex-direction: column;
  }

  .container section figure img {
    width: 100%;
    height: 150px;
  }

  .container section figure figcaption {
    width: 100%;
    margin-top: 1em;
  }

  .container section:nth-child(even) figure img {
    order: 1;
  }

  .container section:nth-child(even) figure figcaption {
    order: 2;
  }

  /* footer */
  footer {
    padding: 0 1.5em;
    flex-direction: column;
  }

  footer .documentation,
  footer .social-media {
    margin-top: 2em;
  }

  /* copyright */
  .copyright {
    padding: 1em 1.5em;
    display: flex;
    justify-content: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Medium devices (landscape tablets, 550px and up) */
@media screen and (min-device-width: 550px) and (max-device-width: 992px) and (orientation: landscape) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.17rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }

  /* wrapper nabar */
  .wrapper-navbar {
    padding: 0 1.5em;
  }

  .wrapper-navbar .navlink {
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -100%;
    z-index: -1;
    opacity: 0;
    background: var(--gradient-color);
    transition: var(--timing);
  }

  .wrapper-navbar .show-navlink {
    left: 0;
    opacity: 1;
  }

  .wrapper-navbar .navlink li:not(.dropdown-list li) {
    width: 100%;
    padding: 1.5em;
    display: flex;
    align-items: center;
  }

  .wrapper-navbar .navlink .dropdown:hover .dropdown-list {
    display: block;
    top: -130px;
  }

  .wrapper-navbar .toggle-menu {
    display: block;
    cursor: pointer;
    transition: var(--timing);
  }

  .wrapper-navbar .toggle-menu:hover {
    opacity: 0.7;
  }

  /* jumbotron */
  .jumbotron .jumbotron-text {
    text-align: center;
  }

  .jumbotron .jumbotron-text h1 {
    padding: 0 1.5em;
  }

  /* container */
  .container {
    padding: 0 1.5em;
  }

  .container section figure img {
    object-fit: fill;
    aspect-ratio: 1/1;
  }

  /* footer */
  footer {
    padding: 0 1.5em;
    flex-direction: column;
  }

  footer .documentation,
  footer .social-media {
    margin-top: 2em;
  }

  /* copyright */
  .copyright {
    padding: 1em 1.5em;
    display: flex;
    justify-content: center;
  }
}
